// run a user script file if present

setinfo cv_HideHolograms "0"
setinfo cv_ShowMapStatusHUD "0"
setinfo cv_SkipBirdScene "0"
setinfo cv_SkipCeilingScene "0"
setinfo cv_SkipIntroContainerScene "0"
setinfo cv_SkipElevatorRide "0"


exec autoexec.cfg