.ap-map-status {
    width: fit-children;
    height: fit-children;
    margin-top: 20px;
    margin-left: 20px;
    visibility: collapse;
    opacity: 0.0;
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform: translateX(-50px);
}

.ap-map-status.visible {
    visibility: visible;
    opacity: 1.0;
    transform: translateX(0px);
}

.main-container {
    width: fit-children;
    height: fit-children;
    background-color: #141414ee;
    border: 1px solid rgba(255, 255, 255, 0.05) !important;
    border-radius: 4px;
    flow-children: right;
    overflow: clip;
}

.accent-bar {
    width: 4px;
    height: 100%;
    background-color: #ec6726;
}

.content {
    flow-children: down;
    padding: 14px 18px;
    width: fit-children;
    transition-property: height;
    transition-duration: 0.2s;
}

.hud_columns_wrapper {
    flow-children: down; 
    width: fit-children; 
    height: fit-children;
}

.map-title {
    font-family: "LexendDeca";
    font-weight: bold;
    font-size: 30px;
    color: #eeeeee;
    text-shadow: 0px 0px 8px #ffffff11;
}

.info_column {
    flow-children: down;
    margin-bottom: 10px;
    width: fit-children;
    min-width: fit-content;
    height: 82px; // Hauteur maintenue pour correspondre à map-select
    overflow: clip; 
    
    background-color: #ffffff04;
    border: 1px solid #ffffff11;
    border-radius: 6px;
    padding: 8px 12px;
}

.section-label {
    font-family: "LexendDeca";
    font-weight: light;
    font-size: 14px;
    color: #ffffff44;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.status_svg_container {
    flow-children: right;
    width: fit-children;
    height: fill-parent-flow(1.0);
    vertical-align: center;
}

.status_svg_icon {
    width: 48px; // Taille fixe pour garantir l'alignement
    height: 48px;
    vertical-align: center; // Centrage vertical strict
    margin-right: 4px;
    img-shadow: 2px 2px 5px 3.0 #333333b0 alpha-only;
}

.requirement_svg_icon {
    width: 48px; // Taille fixe pour garantir l'alignement
    height: 48px;
    vertical-align: center; // Centrage vertical strict
    margin-right: 4px;
    img-shadow: 2px 2px 5px 3.0 #333333b0 alpha-only;
}    

.collapse {
    visibility: collapse;
}