.columns_wrapper {
    width: 100%;
    height: fill-parent-flow(1.0);
    flow-children: right;
    padding: 24px 24px 0px 24px;
}

.preview_bottom_row {
    width: 100%;
    padding: 0px 24px 24px 24px;
    height: fit-children;
    flow-children: right;
}

.footer_content {
    min-height: 93px;
    max-height: 93px;
    width: fill-parent-flow(3.0);
    flow-children: right;
}

.console_output_area {
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-radius: 4px;
    overflow: squish scroll;
    flow-children: down;

    VerticalScrollBar {
        width: 8px;
        margin-right: 4px;
        background-color: transparent;

        .ScrollThumb {
            background-color: #ec672644;
            border-radius: 4px;
            transition-property: background-color;
            transition-duration: 0.1s;
        }

        &:hover .ScrollThumb {
            background-color: #ec6726aa;
        }
    }
}

.console_pool_container {
    width: 100%;
    height: fit-children;
    flow-children: down;
    padding: 20px;
}

.console_line_item {
    width: 100%;
    height: 22px;
    max-height: 22px;
    min-height: 22px;
    font-family: "LexendDeca";
    font-size: 19px;
    color: #eeeeee;
    text-shadow: 0px 0px 4px #000000;
    margin-bottom: 2px;
    overflow: clip;
    white-space: nowrap;
}


.suggestion-box {
    width: 400px;
    height: fit-children; 
    flow-children: down;
    background-color: #000000fa; 
    border: 1px solid #ffffff1a;
    border-radius: 4px;
    padding: 5px;
    z-index: 100;
    vertical-align: bottom;
    margin-bottom: 104px; 
    margin-left: 25px;   

    &.hide { visibility: collapse; }
}

.suggestion-item {
    width: 100%;
    padding: 6px 12px;
    transition-property: background-color;
    transition-duration: 0.1s;

    Label {
        font-size: 18px;
        color: #ccccccff;
        font-family: "LexendDeca";
        width: 100%;
    }

    &:hover {
        background-color: #ec672622;
    }

    &.selected {
        background-color: #ec672644;
        
        Label {
            color: #ffffffff;
            font-weight: bold;
        }
    }   
}

.archipelago_input_wrapper {
    width: fill-parent-flow(1.0); 
    height: 45px;
    flow-children: right;
    vertical-align: center; 
    background-color: #00000066;
    border: 1px solid #ffffff1a;
    padding: 0px 10px;
    border-radius: 4px;
}

TextEntry {
    width: 100%;
    height: fit-children;   
    vertical-align: center; 
    background-color: transparent;
    border: 0px; 
    color: #ffffff;
    font-family: "LexendDeca";
    font-size: 20px;

    #PlaceholderText {
        color: #ffffff55; 
        transition-property: opacity;
        transition-duration: 0.15s;
    }

    &.HasInput #PlaceholderText,
    &:focus #PlaceholderText {
        opacity: 0;
        visibility: collapse;
    }
}